USE [master]
GO
/****** Object:  Database [kupansandb]    Script Date: 24.05.2017 00:38:10 ******/
CREATE DATABASE [kupansandb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kupansandb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\kupansandb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'kupansandb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\kupansandb_log.ldf' , SIZE = 8384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kupansandb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kupansandb]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 24.05.2017 00:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KatogoriAd] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kullanıcılar]    Script Date: 24.05.2017 00:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kullanıcılar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Yetki] [int] NOT NULL,
	[FullName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Kullanıcılar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kuponlar]    Script Date: 24.05.2017 00:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kuponlar](
	[KuponID] [int] IDENTITY(1,1) NOT NULL,
	[KuponAd] [varchar](max) NOT NULL,
	[KuponDetay] [nvarchar](max) NOT NULL,
	[KuponResim] [image] NULL,
	[Kuponİl] [varchar](max) NOT NULL,
	[KuponAdres] [varchar](max) NOT NULL,
	[KuponTarih] [varchar](max) NOT NULL,
	[KayıtTarih] [datetime] NOT NULL,
	[KategoriID] [int] NOT NULL,
	[KuponÜcret] [int] NOT NULL,
	[Stok] [int] NOT NULL,
 CONSTRAINT [PK_Kuponlar] PRIMARY KEY CLUSTERED 
(
	[KuponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Kullanıcılar]    Script Date: 24.05.2017 00:38:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Kullanıcılar] ON [dbo].[Kullanıcılar]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Kullanıcılar_1]    Script Date: 24.05.2017 00:38:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Kullanıcılar_1] ON [dbo].[Kullanıcılar]
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kuponlar]  WITH CHECK ADD  CONSTRAINT [FK_Kuponlar_Kategoriler] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Kuponlar] CHECK CONSTRAINT [FK_Kuponlar_Kategoriler]
GO
USE [master]
GO
